.cover{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 99;
     background: rgba(14, 22, 13, 0.757);
    backdrop-filter: blur(200.5px);
}
.modal{
    position: fixed;
   top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    width: 60vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
     background: rgba(14, 22, 13, 0.757);
    backdrop-filter: blur(200.5px);
}

.searchModalContainer{
    position: relative;
    width: 100%;
    max-width: 60vw;
    height: 100%;
    max-height: 80vh;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.closebtn{
    
    background-color: aquamarine;
    font-size: 3rem;
}


.inputContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.inputContainer > input {
    border:none;
    outline: none;
    border-bottom: 1px solid #000000;
    width: 100%;
    height: 2rem;
    padding: 20px;
    font-size: 1.2rem;
}

.inputContainer > input:focus {
    border-bottom: 2px solid #000000;
}

.searchResultsContainer{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-size: large;
    font-weight: 700;
}

.searchResultsContainer::-webkit-scrollbar {
    width: 0.5rem;
}
.searchResult{
    margin: 10px 0;
    padding: 20px 60px 20px 20px;
    width: 80%;
    border-radius: 20px;
    color: #310f2bab;
}
.searchResult:hover{
    cursor: pointer;
    background-color: blanchedalmond;
    color: #000000;
    font-weight: bolder;
}