nav {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  border-bottom: 1px solid #000;
}

nav > h1 {
  font-weight: bold;
}

.links > a {
  margin: 0 20px;
}
.App {
  min-height: 100vh;
  background-image: url("/public/bg.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
