* {
  text-decoration: none;
}
.headerContainer {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  padding: 120px 120px;
  text-align: center;
  height: auto;
  width: auto;
  background: rgba(255, 255, 255, 0.36);
  border: 8px solid #121534;
  box-shadow: 10px 11px 0px 1px rgba(175, 218, 53, 0.25);
  backdrop-filter: blur(42.5px);
  -webkit-backdrop-filter: blur(42.5px);
  border-radius: 34px;
}
.examTitle {
  font-size: 5rem;
  font-weight: 700;
}

.examDescription {
  font-size: 2rem;
}
.testModesCardsContainer {
  text-align: center;
  margin-top: 50px;
  height: auto;
  width: 100vw;
  margin-bottom: 50px;
}
.testModesCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.customTestContainer {
  height: auto;
  width: 100vw;
  margin-bottom: 100px;
}
.customTestTitleContainer {
  margin-left: 80px;
  margin-top: 200px;
}
.customTestTitleContainer > h1 {
  font-size: 3rem;
  font-weight: 700;
}
.customTestTitleContainer > p {
  font-size: 1.5rem;
  margin-left: 80px;
  margin-top: 10px;
}

.customTestChipsContainer {
  margin-left: 80px;
  margin-top: 50px;
}
.customTestChips {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.startButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.startButton {
  padding: 20px 80px;
  background-color: #3e1a31;
  border: 4px solid #000000;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 16px;
}
.startButton:hover {
  filter: drop-shadow(8px 9px 0px rgba(0, 0, 0, 0.25));
}
