@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  text-decoration: none;
}

/* Path: src/components/Navbar/Navbar.css */

